<%= form_for(load) do |f| %>
  <% if load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(load.errors.count, "error") %> prohibited this load from being saved:</h2>

      <ul>
      <% load.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Number %>
    <%= f.text_field :Number %>
  </div>

  <div class="field">
    <%= f.label :Customer %>
    <%= f.text_field :Customer %>
  </div>

  <div class="field">
    <%= f.label :From %>
    <%= f.text_field :From %>
  </div>

  <div class="field">
    <%= f.label :To %>
    <%= f.text_field :To %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
